<% if(locals.user) { %>
    <div id="chatbox">
        <ul id="messages-list">
            <li class="other-message">
                <span>Other Message</span>
                <sub>Author</sub>
            </li>
            <li class="self-message">
                <span>Self Message</span>
                <sub>Author</sub>
            </li>
        </ul>
        <div id="message-input-container">
            <input id="message-input" type="text" placeholder="Type message here">
            <button type="button" id="send-message">Send</button>
        </div>
    </div>    
<% } %>