<h1>Reset Password</h1>

<% if(resetToken.isValid) { %>
    <form action="/users/passwords/update-password" method="post">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="hidden" name="reset_token_id" value="<%= resetToken._id %>">
        <button type="submit">Reset Password</button>
    </form>
<% } else { %>
    <h1>Reset password token invalid!</h1>    
<% } %>