#home-container {
  height: 100%;
  display: flex;

  #left-column {
    width: 70%;
    height: 100%;
    padding: 10px;
  }

  #right-column {
    width: 30%;
    height: 100%;
    padding: 10px;
    border-left: 1px solid lightgrey;

    #user-friends {
        height: 40%;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    #all-users{
        height: 60%;
        overflow: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }
  }
}
