body{
    margin: 0;
    height: 100vh;
    /* text-align: center; */

    #layout-main{
        height: 100%;
        padding: 0 10px;
        overflow: scroll;
        
        &::-webkit-scrollbar{
            display: none;
        }
    }
}