body{
    background-color: lightblue;

    #profile-container{
        padding: 10px;
        
        form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input{
                margin-bottom: 10px;
            }
        }
    }
}