header {
  height: 2.5rem;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4285f4; }
  header h1 {
    font-weight: bolder;
    color: white;
    letter-spacing: 1px; }
  header ul {
    padding: 0;
    width: 9rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center; }
    header ul a {
      color: white;
      font-size: 1.2rem;
      font-family: sans-serif;
      text-decoration: none; }
