#home-container {
  height: 100%;
  display: flex; }
  #home-container #left-column {
    width: 70%;
    height: 100%;
    padding: 10px; }
  #home-container #right-column {
    width: 30%;
    height: 100%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
    #home-container #right-column #user-friends {
      height: 40%; }
      #home-container #right-column #user-friends::-webkit-scrollbar {
        display: none; }
    #home-container #right-column #all-users {
      height: 60%;
      overflow: scroll; }
      #home-container #right-column #all-users::-webkit-scrollbar {
        display: none; }
